<div class="w-75 m-4">
  <%= simple_form_for [playlist, playlist_song] do |f| %>
    <div class="d-flex justify-content-center w-50">
      <div class="modal-body pe-3">
        <%= f.association :song, multiple: true, collection: Song.all.where(user: current_user).order(:name),class: "text-box", prompt: "Select a song", label: false, input_html: { data: { controller: "" } } %>
      </div>
    </div>
      <%= f.submit "Add Song", class: "form-actions btn-search btn clear-btn btn white"%>
  <% end %>
</div>


<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
<script>
var settings = {maxItems: 30};
new TomSelect('#playlist_song_song_id',settings);
</script>
