.your-playlists{
  margin-left: 3%;
}

.glass-container-three {
  width: 250px !important;
  height: 250px !important;
  background: rgba(28, 27, 23, 0.60);
  border-radius: 32px;
  border: 1px #CECECE solid;
  backdrop-filter: blur(32px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


// when we have less than 4 the playlists get centered...
.playlists{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 3%;
}

.song-table-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.sphere{
  border-radius: 10px;
  height: 150px;
  width: 200px;
  margin-top: 10%;
  object-fit:cover;
}

.playlist-name{
  color: #777DE0;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.playlist-songs{
  color: #777DE0;
  align-items: center;
  justify-content: center;
}

.bgd-btn-two{
  padding: 6px 12px 6px 12px;
  text-align: center;
  border-radius: 32px;
  background: #A2A5FC;
  text-decoration: none;
  margin-left: 3%;
  :hover{
  background: #777DE0;
  }
}
