// Define variables for your color scheme

// For example:
$red: #bfb9b9;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Groove Grid Colors:
$black-color: #111111;
$dark-grey-color: #888888;
$grey-color: #BBBBBB;
$light-grey-color: #DDDDDD;
$white-color: #F5F7FA;


$Primary-Lavender-1: #C5C7FB;
$Primary-Lavender-2: #A2A5FC;
$Primary-Lavender-3: #777DE0;
$Primary-Lavender-4: #3D44B3;
$Primary-Lavender-5: #192083;
$transparent-black: rgba(28, 27, 23, 0.60);
