.dashboard_container{
  display:flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboard{
  margin-bottom: 10%;
  margin-left: 10%;
}


.glass-container-two {
  width: 380px;
  height: 413px;
  background: rgba(28, 27, 23, 0.60);
  border-radius: 32px;
  border: 1px #CECECE solid;
  backdrop-filter: blur(32px);
  display: flex;
  flex-direction: column;
}

.have{
  color: #3D44B3;
  font-family: roboto;
  letter-spacing: 6%;
  margin-top: 10%;
  margin-left: 30%;
}

.sets{
  color: #3D44B3;
  font-family: roboto;
  letter-spacing: 6%;
  margin-top: 10%;
  margin-left: 25%;
}

.stats-info{
  margin-left: 5%;
  list-style-type: none;
  padding: 10% 10% 10% 10%;
}

.chart{
 margin-left: 60%;
}

.cd{
  margin-left: 60%;
}
