.container {
  left: 25%;
  bottom: 0px;
  top: 0px;
  justify-content: space-evenly;
}

.song-table-container {

  table, th, td, tr {
    top: 10px;
    border-collapse: collapse;
    padding: 12px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    width: 100%;
    }

  th {
    background-color: #777de0;
  }

  td{
    margin: 5%;
    color: #F5F7FA;
  }
}
