.song-table-container{
  table, th, td {
    border-collapse: collapse;
    }

    th, td {
    padding: 12px;
    color: var(--White, #F5F7FA);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    }

    th {
      background-color: #777de0;
      color: var(--White, #F5F7FA);
    }

    tr {
      background-color: black;
    }
}
