<%= form_with model: Song.new, url: songs_path, multipart: true do |f| %>
  <%= f.file_field :audio_file, value: "", class: "mb-5 lavender-3"%>
  <%# Criar um input para o nome da música em vez de ir buscar o nome do ficheiro %>
  
  <h6 class="text-start">TAG IT</h6>
  <%= f.text_field :tag_list,
      required: true,
      autofocus: true,
      class: "form-control text-box white"%>
  <%= f.submit link_to songs_path(@song) %>
<% end %>
