<div class="container-content">
  <h3>Create, Manage and export  your <strong>playlists</strong> in an <strong>efficient way</strong>!</h3>
  <h1>GrooveGrid</h1>
  <%= link_to "Create your mix", new_user_session_path, class: "btn btn-flat"%>
</div>
