<div class="p-5">
  <p class="pb-5 display-4">Create, manage and export <br> your playlists in an <strong> efficient way. </strong></p>
    <div class="resume">
      <h1 class="title"><strong>GrooveGrid</strong></h1>
      <%= link_to "Start mixing today → ", new_user_session_path, class: "btn btn-flat btn-lg mt-3"%>
    </div>
</div>
