<div class="main-container">
  <div class="container-content">
    <h3>Create, Manage and export  your <strong>playlists</strong> in an <strong>efficient way</strong>!
    </h3>

      <h1>GrooveGrid</h1>
      <a class="btn btn-flat" href="#" >Start mixing today </a>
  </div>

</div>
