<div class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center">
  <div class="glass-container">

        <div class="row justify-content-center">
            <div class="w-50 col-md-6 col-lg-4">

              <h1 class="text-center mb-5 ">How GrooveGrid works</h1>
              <h6 class="text-center mb-5">Watch small video</h6>

              <%= image_tag("demo.svg") %>

            </div>

                <%#= link_to "LEARN MORE ->", new_user_password_path, class: "fs-5 text-decoration-none label-box"%>
        </div>
  </div>
</div>




<div class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center">
  <div class="glass-container">

        <div class="row justify-content-center">
            <div class="w-50 col-md-6 col-lg-4 row align-items-center">

              <h1 class="text-center mb-5 ">How GrooveGrid works</h1>
              <h6 class="text-center mb-5">WATCH DEMO</h6>

              <%= image_tag("demo.svg") %>

            </div>

              <%= link_to "SKIP → ", new_user_password_path, class: "fs-5 text-decoration-none label-box text-center" %>

        </div>

  </div>
</div>
