// Specific CSS for your home-page

.main-container {
  background-image: url('Abstract_objects.png');
  width: 100%;
  height: 100vh;
  padding:0;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #F5F7FA;
  background-color: rgba(0, 0, 0, 0.35);
}

.btn-flat {
  color: #3D44B3;;
  padding: 8px 24px;
  border-radius: 50px;
  background: #F5F7FA;
  transition: background 0.3s ease;
}

.title {
  margin: 0;
  padding: 0;
  color: #F5F7FA;
  font-size: 90px;
}
