// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "profiles/index";
@import "playlists/index";
@import "songs/index";
@import "tags/index";

.background-image {
  background-image: asset-url("Abstract_objects.png");
  background-size: cover;
  background-position: center;
  // height: 200px;
  // z-index: -5;
}

.controls {
  justify-content: center;
}

.tag {
  background: #3D44B3;
  color: #F5F7FA;
  border-radius: 32px;
  padding: 8px 10px 8px 10px;
  display: inline-block;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens here */
}

/* Responsive styles for even smaller screens */
@media screen and (max-width: 480px) {
  /* Adjust styles for even smaller screens here */
}
