.tag {
  background: #3D44B3;
  color: #F5F7FA;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  display: inline-block;
}


.song-name {
  margin-top: 10%;
  margin-left: 5%;
  color: #777DE0;
}
