<%= form_with model: Playlist.new, url: playlists_path, multipart: true do |f| %>
  <%= f.text_field :name,
          required: true,
          class: "form-control text-box white",
          placeholder: "       Playlist name"%>
  <div class="mt-4 form-actions btn-search btn clear-btn">
    <%= f.submit "Create Playlist", class: "btn white"%>
  </div>
<% end %>
