<h1 class="create-playlist">Create New Playlist</h1>

<%= render "/shared/audio_player"%>


<div class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center">
  <div class="glass-container-playlist">
        <div class="justify-content-start">
          <h1 class="new-playlist">New Playlist</h1>
            <div class="row parent-container">
              <div class="formi">
                <%= render 'form', playlist: @playlist %>
              </div>
              <%= image_tag "user2_standing.svg", class: "child-two-avatar-container" %>
            </div>
        </div>
  </div>
</div>
